<!-- set up text bar and radio buttons -->
<!-- Radio buttons have a model of mushroom.edible (already defined). On click, will change poison to true or false. -->
<input type="text" ng-model="mushroomName">
<input type="radio" name="mushroomType" ng-click="poison=true" ng-model="mushroom.edible">Poisonous
<input type="radio" name="mushroomType" ng-click="poison=false" ng-model="mushroom.edible">Non-Poisonous
    
<!-- checks to see if poison is equal to mushroom edible or not, then repeats and prints.  
    You can also filter using mushroomName, which is the ng-mdoel of the search bar-->
<ul>
    <h2>These are Mushrooms!</h2>
    <li ng-if = "poison !== mushroom.edible" ng-repeat="mushroom in allShrooms | filter: mushroomName ">
     <strong>{{mushroom.name}}</strong>
        <p>{{mushroom.description}}</p>
    </li>
</ul>
