<input type="text" ng-model="mushroomName">
<input type="radio" name="mushroomType" ng-click="poison=true" ng-model="mushroom.edible">Poisonous
<input type="radio" name="mushroomType" ng-click="poison=false" ng-model="mushroom.edible">Non-Poisonous
    
<ul>
    <h2>These are Mushrooms!</h2>
    <li ng-if = "poison !== mushroom.edible" ng-repeat="mushroom in allShrooms | filter: mushroomName ">
     {{mushroom.name}}
        <!-- <a href="#!/songs/{{song.id}}">{{song.title}}, by {{song.artist}}</a> -->
    </li>
</ul>
